body {
    margin: 0;
    padding: 0;
}

/* Small devices (landscape phones, 576px and up) */
.container {
    padding: 10px;
    /* Initialisation de la grille */
    display: grid;
    /* Création de la grille de 12 colonnes */
    grid-template-columns: repeat(12,1fr);
    /* Répartition de la hauteur des lignes  */
    grid-template-rows: 23vh 16vh 17vh 17vh 22vh;
    grid-gap: 5px;
}
img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    /* comportement de l'image comme un background */
    object-fit: cover;
    object-position: middle;
   
}
.item-1, .item-7 {
    grid-column: 1 / -1;
}
.item-2, .item-3, .item-4, .item-5, .item-6 {
    grid-column: 6 span;
}
.item-5 {
    grid-row: 2 span;
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  
    .item-1 {
        grid-column: 8 span;
        grid-row: 2 span
    }
    .item-2, .item-3 {
        grid-column: 4 span;
    }
    .item-3 {
        grid-column: 9 / -1;
        grid-row: 1 / 2;
    }
    .item-4, .item-5 {
        grid-column: 8 span;
    }
    .item-5 {
        grid-row: 1 span;
    }
    .item-6 {
        grid-row: 3 / 5;
        grid-column: 9/ -1;
    }
    
}
    
  

